{% extends 'base/template.html'%}
{% load static %}

{% block title %}
    Announcement
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/navstyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/roomstyle.css' %}">
{% endblock %}

{% block content %}

    <!--Banner-->
    <section class="main-container">
        <article class="banner">
            <div class="container-fluid">
                <div class="container text-light p-5">
                    <h1 class="display-4">Announcements</h1>
                    <form action="{% url 'createAnnouncement' %}">
                        <button type="submit" class="btn btn-primary">Create Announcement</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
    <!--end of banner-->


    <!--content-->
    {% for announcement in announcements %}
            <div class="list-group-item">
                <h5 class="mb-1">{{ announcement.Announce_header }}</h5>
                <p class="mb-1">{{ announcement.Announce_body }}</p>
            </div>
        {% empty %}
            <div class="alert alert-info">No announcements available.</div>
        {% endfor %}
    
    <!--end of content-->
{% endblock %}